<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title>Liao another website</title>
        <meta name="description" content="everyone has a wild dream including me!!!!">
        <link rel="shortcut icon" href="//xiaodu.baidu.com/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <!-- <img id="wechat" src="picture/wechat.png" style="display:none" /> -->
        <!--
        <div class="mask">
        </div>
        -->
        <div class="top-nav-wrap top-nav-wrap-fix" id="nav">
            <div class="top-nav">
                <div class="tn-bg">
                    <div class="tn-header">
                        <div class="tn-logo"></div>
                        <div class="tn-menu-r">
                            <div>
                                <a href="#" class="index-page no-jump">Homepage</a>
                            </div>
                            <div class="tn-menu-solv" id="solv-btn">
                                <a href="#" class="no-jump">Liao's Life</a>
                                <ul id="solv-sub-menu">
                                    <li><a href="./China.html">Life in China</a></li>
                                    <li><a href="./USA.html">Life in USA</a></li>
                                    <li><a href="./Campus.html">Life in Campus</a></li>
                                </ul>
                            </div>
                            <!-- <div>
                                <a href="http://dev.duer.baidu.com">开放平台</a>
                            </div> -->
                            <div>
                                <a href="https://docs.google.com/document/d/1Qa5paE3Ij91DNAJCMr9NGSpYuCvQyxn2fJTMu4Vy7Ag/edit?usp=sharing" target="_blank">About me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner section" id="banner">
            <div class="banner-guid">
                <h2>Liao — An optimistic youth </h2>
            </div>
            <div class="scroll-item"></div>
        </div>

        <div class="m-section me-section-grey">
            <div class="m-section-title">Brief introduction of Liao</div>
            <div class="service-ability">
                <div class="sa-item">
                    <div class="sa-item-icon sa-item-icon-dev"></div>
                    <div class="sa-item-title">Interested in IT industry</div>
                    <div class="sa-item-sub">I like coding and have strong interests in programming especially web design. Also, I have a good grasp of theoretical knowledge in automation.</div>
                </div>
                <div class="sa-item">
                    <div class="sa-item-icon sa-item-icon-cal"></div>
                    <div class="sa-item-title">Good schedule management</div>
                    <div class="sa-item-sub">I am a persistent person. Always remind myself at critical moments, do the right things at the right time.</div>
                </div>
                <div class="sa-item">
                    <div class="sa-item-icon sa-item-icon-info"></div>
                    <div class="sa-item-title">Willing to teach myself learn mew thing</div>
                    <div class="sa-item-sub">I'm a very self-learning person, if I don't understand, just google it. Udemy and Youtube are always my teacher.</div>
                </div>
                <div class="sa-item">
                    <div class="sa-item-icon sa-item-icon-life"></div>
                    <div class="sa-item-title">Enjoy my life</div>
                    <div class="sa-item-sub">As an international student, I occasionally travel to see this big world.</div>
                </div>
                <div class="sa-item">
                    <div class="sa-item-icon sa-item-icon-motion"></div>
                    <div class="sa-item-title">Hope to meet more people</div>
                    <div class="sa-item-sub">Always care about friends' emotions and like to stay with friends.</div>
                </div>
            </div>
        </div>

        <div class="m-section me-section-white ms-app-ability">
            <div class="m-section-title">Liao's  SKILLS&amp;COURSES</div>
            <div class="app-ability">
                <div class="mid-line"></div>
                <div class="aa-item">
                    <div class="aa-item-box aa-item-box-odd">
                        <div class="aa-item-icon aa-item-icon-multi"></div>
                        <div class="aa-item-txt">
                            <div class="aa-item-title">JAVA</div>
                            <div class="aa-item-sub">Object-oriented, Process-oriented, Inheritance, Encapsulation, Abstraction, Polymorphism.</div>
                        </div>
                    </div>
                </div>
                <div class="aa-item">
                    <div class="aa-item-box aa-item-box-even">
                        <div class="aa-item-icon aa-item-icon-chat"></div>
                        <div class="aa-item-txt">
                            <div class="aa-item-title">Web design</div>
                            <div class="aa-item-sub">Html, CSS, Javascript, Spring Boot, Servlet, RESTFUL, Database.</div>
                        </div>
                    </div>
                </div>
                <div class="aa-item">
                    <div class="aa-item-box aa-item-box-odd">
                        <div class="aa-item-icon aa-item-icon-index"></div>
                        <div class="aa-item-txt">
                            <div class="aa-item-title">Data Structure</div>
                            <div class="aa-item-sub">Array, Linked List, Tree, Hash Table.</div>
                        </div>
                    </div>
                </div>
                <div class="aa-item">
                    <div class="aa-item-box aa-item-box-even">
                        <div class="aa-item-icon aa-item-icon-bus"></div>
                        <div class="aa-item-txt">
                            <div class="aa-item-title">Algorithm</div>
                            <div class="aa-item-sub">K-nearest neighbors algorithm, Neural networks, Support vector machine.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-ability-ext">
                <div class="aae-item">
                    <div class="aae-item-icon aae-item-icon-1"></div>
                    <div class="aae-item-txt">CS 559 Neural Networks</div>
                </div>
                <div class="aae-item">
                    <div class="aae-item-icon aae-item-icon-2"></div>
                    <div class="aae-item-txt">CS 415 Imag Analysis & Compt Visn</div>
                </div>
                <div class="aae-item">
                    <div class="aae-item-icon aae-item-icon-3"></div>
                    <div class="aae-item-txt">ECE 452 Robotics: Algorithm/Control</div>
                </div>
                <div class="aae-item">
                    <div class="aae-item-icon aae-item-icon-4"></div>
                    <div class="aae-item-txt">CS 407 Pattern Recognition</div>
                </div>
                <div class="aae-item">
                    <div class="aae-item-icon aae-item-icon-5"></div>
                    <div class="aae-item-txt">ECE 517 Digital Image Processing</div>
                </div>
                <div class="aae-item">
                    <div class="aae-item-icon aae-item-icon-6"></div>
                    <div class="aae-item-txt">ECE 533 Advanced Computer Communication</div>
                </div>
                <div class="aae-item">
                    <div class="aae-item-icon aae-item-icon-7"></div>
                    <div class="aae-item-txt">ECE 451 Control Engineer</div>
                </div>
                <div class="aae-item">
                    <div class="aae-item-icon aae-item-icon-8"></div>
                    <div class="aae-item-txt">CS 569 High-Performance ProcessSystem</div>
                </div>
            </div>
        </div>

        <div class="m-section me-section-grey">
            <div class="m-section-title"><form action="/emp" method="POST">
                if you are a recruiter please leave your information ^_^
                <div>
                    name <input name="name" type="text">
                </div>
                <div>
                    email <input name="email" type="text">
                </div>
                <div>
                    <input type="submit">
                    <input type="button" name="check all recruiters" value="check all recruiters" onClick="location.href='/emp/all'"/>
                </div>
            </form></div>
            <div class="solution">
                <div class="sl-item">
                    <div class="sl-item-box sl-effect">
                        <div class="sl-effect-bg sl-effect-bg-1"></div>
                        <div class="sl-effect-con">
                            <h2>Life in China</h2>
                            <p>I have a happy family in China, my parents are very healthy, and my undergraduate college life is memorable.</p>
                            <p class="more">Learn More</p>
                            <a href="./China.html">View more</a>
                        </div>
                    </div>
                </div>
                <div class="sl-item">
                    <div class="sl-item-box sl-effect">
                        <div class="sl-effect-bg sl-effect-bg-2"></div>
                        <div class="sl-effect-con">
                            <h2>Life in USA</h2>
                            <p>I have met many friends from various countries in the United States, and I am very happy living in Chicago.California and Seattle trips are also exciting.</p>
                            <p class="more">Learn More</p>
                            <a href="./USA.html">View more</a>
                        </div>
                    </div>
                </div>
                <div class="sl-item">
                    <div class="sl-item-box sl-effect">
                        <div class="sl-effect-bg sl-effect-bg-3"></div>
                        <div class="sl-effect-con">
                            <h2>Life in campus</h2>
                            <p>Although class days are boring, a group of friends are around.</p>
                            <p class="more">Learn More</p>
                            <a href="./Campus.html">View more</a>
                        </div>
                    </div>
                </div>
                <div class="sl-item">
                    <div class="sl-item-box sl-effect">
                        <div class="sl-effect-bg sl-effect-bg-4"></div>
                        <div class="sl-effect-con">
                            <h2>About me</h2>
                            <p></p>
                            <p class="more">Learn More</p>
                            <a href="https://docs.google.com/document/d/1Qa5paE3Ij91DNAJCMr9NGSpYuCvQyxn2fJTMu4Vy7Ag/edit?usp=sharing" target="_blank">View more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-in">
                <ul class="fi-item-box">
                    <li>
                        contact me：<a href="https://www.linkedin.com/in/liao-hu-b62637192?trk=people-guest_people_search-card" target="_blank">312-4598891</a>
                    </li>
                </ul>

            </div>
        </div>

	<script src="/js/jquery.min.js"></script>
	<script type="text/javascript">
		$(function() {
			/****      菜单悬浮控制       ****/
			var windowHeight = $(window).height();
			$('#banner').height(windowHeight);
			$(window).on(
					'scroll',
					function() {
						var scrollTop = document.body.scrollTop
								|| document.documentElement.scrollTop;
						if (scrollTop > windowHeight) {
							$('#nav').css({
								position : 'fixed'
							});
							$('#nav .top-nav').css({
								backgroundColor : '#181b21'
							});
						} else {
							$('#nav').css({
								position : 'absolute'
							});
							$('#nav .top-nav').css({
								backgroundColor : ''
							});
						}
					});
			/****      菜单悬浮控制       ****/

			var subMenu = $('#solv-sub-menu');

			// 鼠标从下方朝解决方案四个字移动时会先触发菜单的展开，这时鼠标处于菜单上，但是继续往解决方案四个字移动会离开菜单，这时会触发菜单收起，导致菜单极难使用，所以需要在解决方案四个字上触发展开时做个flag，300ms内不让收起
			var mouseInFlag = false;
			$('#solv-btn').on('click', function() {
				subMenu.slideDown(300).show();
			});
			$('#solv-btn').hover(function() {
				mouseInFlag = true;
				setTimeout(function() {
					mouseInFlag = false;
				}, 300);
				subMenu.slideDown(300);
				;
			}, function() {
				if (!mouseInFlag) {
					subMenu.slideUp(200);
				}
			});

			subMenu.hover(function() {
				$(this).show();
			}, function() {
				if (!mouseInFlag) {
					subMenu.slideUp(200);
				}
			});

			$('.no-jump').on('click', function() {
				return false;
			})
		});
	</script>
</body>
</html>
